.CTASection {
    position: relative;
    /* top: 60px;  */
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    padding: 60px;
}

.group {
    border-radius: 12px solid black;
    margin-bottom: 60px;
}


input {
    width: 586px;
    height: 55px;
}

.Submit {
    width: 130px;
    height: 39px;
    gap: 10px;
    background-color: transparent;
}

.Submit:hover {
    background-color: #CBDEEC;
}



