.About {
    display: flex;
    flex-direction: row;
    /* top: 150px; */
    position: relative;

}

.heading {
    font-size: 32px;
    font-weight: 300;
}



.textSection {
    position: relative;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 84px;
    /* top: 100px;
    height: 60%; */
    padding: 224px 77px 264px 102px;
}

p {
    font-size: 16px;
    font-weight: 300;
}





