.About {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 40px 20px; */
    background-color: #F8F8F8;
    width: 100%;
    position: relative;
}

/* .imageContainer {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

.imageContainer img {
    width: 100%;
    height: auto;
} */

.textSection {
    flex: 1;
    /* max-width: 600px; */
    padding: 20px;
    text-align: center;
}

.heading {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 20px;
}

.line {
    margin: 20px auto;
    border-bottom: 2px solid #000000;
    width: 64px;
}

/* Media Queries for different screen sizes */
@media (max-width: 768px) {

    .imageContainer {
        flex: 1;
        max-width: 500px;
        padding: 20px;
        text-align: center;
    }

    .imageContainer img {
        width: 100%;
        height: auto;
    }

    .About {
        flex-direction: column;
    }

    .heading {
        font-size: 24px;
    }

    .paragraph {
        font-size: 14px;
    }

    .line {
        width: 50px;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 20px;
    }

    .paragraph {
        font-size: 12px;
    }

    .line {
        width: 40px;
    }
}
