.Footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    position: relative;
}
.icons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 300px;
}

.Subscribe {
    width: 130px;
    height: 39px;
    gap: 10px;
}